<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>두다다.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
				<key>dateExpires</key>
				<string>12/18/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>12.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>6.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>gal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>kakao_flutter_sdk_common.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A1C6E11E0E44AB0C4A9098D7BE869FEA3FC92952</string>
						<key>dateExpires</key>
						<string>12/18/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7X89Y23363</string>
						<key>name</key>
						<string>HyeRyeong Seo</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7X89Y23363.com.of9.dodada</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:dodada.site</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7X89Y23363</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d48b6b18-307a-4d89-a671-38ed937b66b1</string>
				<key>dateExpires</key>
				<string>12/18/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.of9.dodada</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7X89Y23363</string>
				<key>name</key>
				<string>HyeRyeong Seo</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
